body {
	text-align: center;
	padding: auto;
	font-family: "Nunito", sans-serif;
	background-color: #379683;
	color: black;
}

#mainNavbar {
	font-size: 1.5rem
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #ae1c2c;
}

.navbar-brand {
	font-style: italic;
	font-size: 2rem;
}
#header {
	background: url(https://images.unsplash.com/photo-1516638917191-3ee89ea39908?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)
		center center / cover no-repeat;
}

h1 {
	font-size: 4rem;
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
}

.pokemonImage {
	float: left;
}

.modal-title {
	font-size: 2rem;
	font-weight: 200;
	text-transform: capitalize;
}
.navbar.scrolled {
	background: rgb(9, 83, 74);
	transition: background 1s;
}

@media (max-width: 1200px) {
	h1 {
		font-weight: bold;
		font-size: 2rem;
	}
}
